In [1]:
import folium
import pandas
import requests
#Creating the base map to start at the University Windsor
new_cases_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")
new_deaths_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")
active_cases_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")

#I am using API from thevirustracker.com
res = requests.get('https://api.thevirustracker.com/free-api?countryTotals=ALL')
#Convert to a json file

#I am planning on doing 3 separate map layers
#We are changing our data to total_new_cases_today, total_new_deaths_today, total_active_cases
#Creating the C19 DataFrame with pandas
df=[]
for x in range(1, len(covid_current['countryitems'][0])):
    df.append([covid_current['countryitems'][0]['{}'.format(x)]['title'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_new_cases_today'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_new_deaths_today'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_active_cases']])

df_covid = pandas.DataFrame(df, columns = ['Country', 'New Cases Today','New Deaths Today', 'Total Active Cases'])

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [1]:
import folium
import pandas
import requests
#Creating the base map to start at the University Windsor
new_cases_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")
new_deaths_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")
active_cases_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")

#I am using API from thevirustracker.com
res = requests.get('https://api.thevirustracker.com/free-api?countryTotals=ALL')
#Convert to a json file
covid_current=res.json()

#I am planning on doing 3 separate map layers
#We are changing our data to total_new_cases_today, total_new_deaths_today, total_active_cases
#Creating the C19 DataFrame with pandas
df=[]
for x in range(1, len(covid_current['countryitems'][0])):
    df.append([covid_current['countryitems'][0]['{}'.format(x)]['title'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_new_cases_today'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_new_deaths_today'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_active_cases']])

df_covid = pandas.DataFrame(df, columns = ['Country', 'New Cases Today','New Deaths Today', 'Total Active Cases'])

In [2]:
df_covid

         Country  New Cases Today  New Deaths Today  Total Active Cases
0    Afghanistan             6053               153                 745
1        Albania              916                31                 705
2        Algeria             6629               536                3271
3         Angola               48                 2                  17
4      Argentina             7479               356                2497
..           ...              ...               ...                 ...
177         Iran           116635              6902               91836
178  North Korea                0                 0                   0
179       Russia           262843              2418               58226
180          UAE            21831               210                7328
181      Vietnam              314                 0                 260

[182 rows x 4 columns]

In [6]:
df_covid.sort_values(by=['Total Active Cases'])

,Country,New Cases Today,New Deaths Today,Total Active Cases
137,Solomon Islands,0,0,0
55,French Southern Territories,0,0,0
109,Netherlands,43681,5643,0
128,Republic of Kosovo,0,0,0
82,Korea,0,0,0
...,...,...,...,...
158,Turkey,146457,4055,106133
76,Italy,223885,31610,120205
59,Germany,175699,8001,151700
141,Spain,274367,27459,188967
163,USA,1484285,88507,327751

In [2]:
import folium
import pandas
import requests
#Creating the base map to start at the University Windsor
new_cases_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")
new_deaths_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")
active_cases_map = folium.Map(location=[42.30, -83.06], zoom_start=6, tiles="Stamen Terrain")

#I am using API from thevirustracker.com
res = requests.get('https://api.thevirustracker.com/free-api?countryTotals=ALL')
#Convert to a json file
covid_current=res.json()

#I am planning on doing 3 separate map layers
#We are changing our data to total_new_cases_today, total_new_deaths_today, total_active_cases
#Creating the C19 DataFrame with pandas
df=[]
for x in range(1, len(covid_current['countryitems'][0])):
    df.append([covid_current['countryitems'][0]['{}'.format(x)]['title'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_new_cases_today'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_new_deaths_today'],
    covid_current['countryitems'][0]['{}'.format(x)]['total_active_cases']])

df_covid = pandas.DataFrame(df, columns = ['Country', 'New Cases Today','New Deaths Today', 'Total Active Cases'])

In [3]:
df_covid.sort_values(by=['Total Active Cases'])

,Country,New Cases Today,New Deaths Today,Total Active Cases
27,Central African Republic,0,0,0
82,Korea,0,0,0
83,South Korea,0,0,0
86,Lao,0,0,0
109,Netherlands,189,27,0
...,...,...,...,...
76,Italy,875,153,70187
53,France,0,96,90674
19,Brazil,14919,816,127837
179,Russia,9200,119,206340
163,USA,21332,1021,1077229